// vars

// colours

$text-colour: black;

// fonts

$text-font: 'Roboto-light', sans-serif;
$title-font: 'Rubik-Regular', sans-serif;

// adjustments

@import 'mixins.scss';
@import 'adjustments.scss';


// sections

@import 'sections/header.scss';
@import 'sections/form.scss';

// fonts

@import 'fonts.scss';



// modificators



/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }